@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 3, 23, 41;
    --background-end-rgb: 3, 23, 41;
  }
}

body {
  scroll-behavior:smooth;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.card:hover {
  background-color: #8892b012;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#experience {
  scroll-behavior: smooth;
}

.non-scrollable {
  /* overflow: hidden;  */
}

.scrollable {
  overflow-y: auto; 
}

.cardBackground {
  background-color: #112240;
}


.activeLink {
  font-weight: bold;
  color: red; /* or any other color to denote active link */
}